trulens==0.13.4 
trulens-eval==0.20.1
langchain==0.0.354
litellm==1.16.12
gpt4all==2.0.2
openai==1.6.1
chromadb==0.4.22
neo4j==5.16.0
neo4j-driver==5.16.0
ipywidgets==8.1.1
llama-index
langchainhub==0.1.14
nest_asyncio